/* задали цвета, которые используются слишком часто */
$color-blue: #357EFE
$color-for-statistics: #4E5D7C80

/* задал общие значения для сайта, шрифт и как должны позиционироваться блоки на сайте */
*
    box-sizing: border-box
    font-family: "Inter"

/* импотировал шрифт Inter из google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')

/* задал общий контейнер для всех блоков для позиционирования на сайте */
.container
    width: 1392px
    margin: 0 auto

/* общие значения для первой секции (отступы и flex-сы) */
.main-section
    min-height: 846px
    background-color: #357EFE
    padding-top: 40px
    overflow: hidden
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 113px
    &__text-and-logo
        display: flex
        justify-content: center
        margin-bottom: 80px
    &__finance
        margin-bottom: 40px
    &__try-for-free
        margin-bottom: 80px
        /* ниже значения для большого прямоугольника (превая секция) */
    &__reg
        position: absolute
        width: 2312px
        height: 312px
        right: -300px
        top: 550px
        background-color: #FFFFFF
        transform: rotate(-7.00deg)
        z-index: 0

/* занчения для навигационного меню в первой секции */
.navigation
    &__ul
        display: flex
        justify-content: center
        gap: 32px
        & a
            position: static
            text-decoration: none
            color: #FFFFFFCC
            font-size: 18px
            font-weight: 500
/* заначения для кнопки "личный кабинет" в первой секции */
.personal-account
    &__button
        padding: 12px 32px
        border-radius: 34px
        border: none
        color: #FFFFFF
        & a
            text-decoration: none
            color: $color-blue
/* заначения для текста в середине первой секции (левая часть сердней секции) */          
.finance-text
    text-align: left
    &__h2
        font-size: 40px
        font-weight: 800
        color: #FFFFFF
/* значения для кнопки "попробовать 14 дней бесплатно" первой секции (левая часть средней секции) */
.try-for-free
    &__button
        padding: 12px 32px
        border-radius: 34px
        border: none
        color: #FFFFFF
        & a
            text-decoration: none
            color: $color-blue
/* значения для фото, где компьютер и наложенный внутри интерфейс (правая часть средней секции) */
.computer-logo
    position: relative
    &__outside
        position: relative
        z-index: 1
    &__inside
        position: absolute
        right: 125px
        top: 36px
        z-index: 2
/* общие значения для второй секции (отступы) */
.second-section
    background-color: #FFFFFF
    overflow: hidden
    &__functions
        margin-bottom: 144px
    &__statistics
        margin-bottom: 80px
        &:last-child
            margin: 0px
    &__basic-statistics
        margin-bottom: 120px
/* значения для footer первой секции (flex-сы) */
.functions__flex
    display: flex
    justify-content: space-between
    align-items: center
    gap: 64px
    &__one
        display: flex
        align-items: center
        gap: 16px
    &__two
        display: flex
        align-items: center
        gap: 16px
    &__three
        display: flex
        align-items: center
        gap: 16px
/* модификатор для functions__flex */
.functions_items
        font-size: 24px
        font-weight: 700
/* значения для первой колонки в second-section__basic-statistics (кассовые разрывы) */
.cash-gaps
    display: flex
    justify-content: center
    align-items: center
    &__left
        text-align: left
        &__h3
            font-size: 40px
            font-weight: 600
            color: #000000
            margin-bottom: 24px
            width: 510px
            line-height: 120%
        &__p
            font-size: 18px
            font-weight: 500
            color: $color-for-statistics
            width: 482px
            line-height: 120%
    &__right
        &__img
            width: 729px
/* значения для второй колонки в second-section__basic-statistics (Отчеты о прибыли и убытках) */
.reports
    display: flex
    justify-content: center
    align-items: center
    gap: 40px
    &__left
        &__img
            width: 644px
    &__right
        text-align: left
        &__h3
            font-size: 40px
            font-weight: 600
            color: #000000
            margin-bottom: 24px
            width: 571px
            line-height: 120%
        &__p
            font-size: 18px
            font-weight: 500
            color: $color-for-statistics
            width: 565px
            line-height: 140%
/* значение третьей колонки в second-section__basic-statistics (товары и прибыль) */
.profit
    display: flex
    justify-content: center
    align-items: center
    gap: 28px
    &__left
        text-align: left
        &__h3
            font-size: 40px
            font-weight: 600
            color: #000000
            margin-bottom: 29px
            width: 566px
            line-height: 120%
        &__p
            font-size: 18px
            font-weight: 500
            color: $color-for-statistics
            width: 526px
            line-height: 140%
/* значение четвертой колонки в second-section__basic-statistics (про сокращение расходов) */
.expenses
    display: flex
    justify-content: center
    align-items: center
    gap: 247px
    &__left
        position: relative
        &__img-big
            width: 461px
        &__img-small
            position: absolute
            width: 450px
            left: 170px
            bottom: 145px
    &__right
        text-align: left
        &__h3
            font-size: 40px
            font-weight: 600
            color: #000000
            margin-bottom: 30px
            width: 566px
            line-height: 120%
        &__p
            font-size: 18px
            font-weight: 500
            color: $color-for-statistics
            width: 566px
            line-height: 140%

/* разделительная линия между колонками в basic-statistics */
.basic-statistics__hr
    margin: 0px
    margin-bottom: 80px
    color: $color-for-statistics

/* общие значения для третьей секции */ 
.third-section
    background-color: $color-blue
    &__img
        margin-bottom: 64px
        
/* значения для верхнего third-section__time-saving (h3, p, button) */
.time-saving__upper-level
    padding-top: 120px 
    text-align: center
    &__h3
        color: rgb(255, 255, 255)
        font-size: 48px
        font-weight: 600
        line-height: 120%
        margin-bottom: 24px
    &__p
        color: rgba(255, 255, 255, 0.8)
        font-size: 18px
        font-weight: 500
        line-height: 140%
        margin-bottom: 40px
    &__button
        padding: 12px 32px
        background-color: #FFFFFF
        border-radius: 34px
        border: none
        margin-bottom: 76px
        & a 
            text-decoration: none
            color: $color-blue
            font-size: 17px
            font-weight: 800
            line-height: 140%

/* значения для среднего уровня third-section__time-saving (накладывание фото друг на друга) */
.time-saving__intermediate-level
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &__index-0
        z-index: 0
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
    &__index-1
        position: absolute
        width: 410px
        height: 501px
        z-index: 1
        left: 300px
    &__index-2
        position: absolute
        z-index: 2
        left: 657px
    &__icon-left-3
        position: absolute
        z-index: 3
    &__icon-right-3
        position: absolute
        z-index: 3
        left: 718px

/* значения для third-section__time-saving (flex) */
.comparison-with-excel
    display: flex
    justify-content: center
    align-items: center
    &__left-wrapper
        margin-right: 24px

/* является "родителем" по отношению к excel__li */ 
.excel-and-finio
    &:last-child
        margin: 0px

/* является "дочерней" по отношению к excel-and-finio */
.excel__li
    display: flex
    align-items: center
    margin-bottom: 24px
    text-align: left
    &__img
        margin-right: 10px
        height: 20px
    &__p
        color: rgba(255, 255, 255, 0.8)
        font-size: 18px
        font-weight: 500
        line-height: 140%

/* является "дочерней" по отношению к excel-and-finio */   
.finio__li
    display: flex
    align-items: center
    margin-bottom: 24px
    text-align: left
    &__img
        margin-right: 10px
        height: 20px
    &__p
        color: rgba(255, 255, 255, 0.8)
        font-size: 18px
        font-weight: 500
        line-height: 140%

/* Общее значение для четвертой секции */ 
.fourth-section
    padding-top: 120px

/* является "родителем" по отношению к advantages-flex__servers servers, advantages-flex__encryption encryption и advantages-flex__data-protection */
.advantages-flex
    display: flex
    justify-content: center
    align-items: center
    gap: 78px

/* является "дочерней" по отношению к advantages-flex */
.servers
    text-align: left
    &__img
        margin-bottom: 24px
    &__h3
        color: rgb(0, 0, 0)
        font-size: 32px
        font-weight: 600
        line-height: 120%
        margin-bottom: 20px
    &__p
        color: $color-for-statistics
        font-size: 17px
        font-weight: 500
        line-height: 140%

/* является "дочерней" по отношению к advantages-flex */  
.encryption
    text-align: left
    &__img
        margin-bottom: 24px
    &__h3
        color: rgb(0, 0, 0)
        font-size: 32px
        font-weight: 600
        line-height: 120%
        margin-bottom: 22px
    &__p
        color: $color-for-statistics
        font-size: 17px
        font-weight: 500
        line-height: 140%

/* является "дочерней" по отношению к advantages-flex */
.data-protection
    text-align: left
    &__img
        margin-bottom: 24px
    &__h3
        color: rgb(0, 0, 0)
        font-size: 32px
        font-weight: 600
        line-height: 120%
        margin-bottom: 20px
    &__p
        color: $color-for-statistics
        font-size: 17px
        font-weight: 500
        line-height: 140%