@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(55, 65, 81, 1);
}

.menu {
    margin: 0 auto;
    padding: 71px 180px 0;
    margin-bottom: 69px;
}
nav .container {
    max-width: 1174px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.menu_inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}
.menu_inner li {
    list-style: none;
}
.menu_inner li:first-child {
    margin-right: 77px;
}
.menu_inner a:link {
    text-decoration: none;
    color: aliceblue;
}


.menu_search input {
    border-radius: 10px;
    border: none;
    background-color: #1F293799;
    max-width: 230px;
}
#searchid {
    padding: 9px 12px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}


.text {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textstart_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
}
.text__title {
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    margin-bottom: 14px;
}
.text__title p {
    padding: 0 20px;
    font-size: 14px;
    color: gray;
}
.text__title h4 {
    padding: 0 20px;
    color: gray;
}

.text__heading {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}
.text__heading h3 {
    font-size: 24px;
    line-height: 38px;
}

.text__logo_and_last_names {
    display: flex;
    align-items: center;
    line-height: 20px;
}
.text__logo_and_last_names img {
    border-radius: 250px;
    margin-right: 16px;
}
.text__logo_and_last_names p{
    text-align: left;
    font-size: large;
}
#razrabcolor {
    color: gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
#vv {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}


.textend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 103px;
}
.textend img {
    margin-bottom: 69px;
}

.textend__p_start {
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    width: 700px;
    margin-bottom: 20px;
}

.textend__p_midle {
    font-size: 16px;
    width: 700px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 20px;
}
.textend__p_end {
    font-size: 15px;
    width: 700px;
    text-align: justify;
    font-weight: 400;
}
.textend p a:link {
    text-decoration: none;
}
.footer {
    color: gray;
    padding-bottom: 77px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 768px) {
    .menu_inner {
        flex-direction: column;
    }
    .text {
        flex-direction: column;
    }
}