@charset "UTF-8";
/* задали цвета, которые используются слишком часто */
/* задал общие значения для сайта, шрифт и как должны позиционироваться блоки на сайте */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter";
}

/* импотировал шрифт Inter из google fonts */
/* задал общий контейнер для всех блоков для позиционирования на сайте */
.container {
  width: 1392px;
  margin: 0 auto;
}

/* общие значения для первой секции (отступы и flex-сы) */
.main-section {
  min-height: 846px;
  background-color: #357EFE;
  padding-top: 40px;
  overflow: hidden;
}
.main-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
}
.main-section__text-and-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main-section__finance {
  margin-bottom: 40px;
}
.main-section__try-for-free {
  margin-bottom: 80px;
  /* ниже значения для большого прямоугольника (превая секция) */
}
.main-section__reg {
  position: absolute;
  width: 2312px;
  height: 312px;
  right: -300px;
  top: 550px;
  background-color: #FFFFFF;
  transform: rotate(-7deg);
  z-index: 0;
}

/* занчения для навигационного меню в первой секции */
.navigation__ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.navigation__ul a {
  position: static;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
}

/* заначения для кнопки "личный кабинет" в первой секции */
.personal-account__button {
  padding: 12px 32px;
  border-radius: 34px;
  border: none;
  color: #FFFFFF;
}
.personal-account__button a {
  text-decoration: none;
  color: #357EFE;
}

/* заначения для текста в середине первой секции (левая часть сердней секции) */          
.finance-text {
  text-align: left;
}
.finance-text__h2 {
  font-size: 40px;
  font-weight: 800;
  color: #FFFFFF;
}

/* значения для кнопки "попробовать 14 дней бесплатно" первой секции (левая часть средней секции) */
.try-for-free__button {
  padding: 12px 32px;
  border-radius: 34px;
  border: none;
  color: #FFFFFF;
}
.try-for-free__button a {
  text-decoration: none;
  color: #357EFE;
}

/* значения для фото, где компьютер и наложенный внутри интерфейс (правая часть средней секции) */
.computer-logo {
  position: relative;
}
.computer-logo__outside {
  position: relative;
  z-index: 1;
}
.computer-logo__inside {
  position: absolute;
  right: 125px;
  top: 36px;
  z-index: 2;
}

/* общие значения для второй секции (отступы) */
.second-section {
  background-color: #FFFFFF;
  overflow: hidden;
}
.second-section__functions {
  margin-bottom: 144px;
}
.second-section__statistics {
  margin-bottom: 80px;
}
.second-section__statistics:last-child {
  margin: 0px;
}
.second-section__basic-statistics {
  margin-bottom: 120px;
}

/* значения для footer первой секции (flex-сы) */
.functions__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.functions__flex__one {
  display: flex;
  align-items: center;
  gap: 16px;
}
.functions__flex__two {
  display: flex;
  align-items: center;
  gap: 16px;
}
.functions__flex__three {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* модификатор для functions__flex */
.functions_items {
  font-size: 24px;
  font-weight: 700;
}

/* значения для первой колонки в second-section__basic-statistics (кассовые разрывы) */
.cash-gaps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cash-gaps__left {
  text-align: left;
}
.cash-gaps__left__h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 24px;
  width: 510px;
  line-height: 120%;
}
.cash-gaps__left__p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(78, 93, 124, 0.5019607843);
  width: 482px;
  line-height: 120%;
}
.cash-gaps__right__img {
  width: 729px;
}

/* значения для второй колонки в second-section__basic-statistics (Отчеты о прибыли и убытках) */
.reports {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.reports__left__img {
  width: 644px;
}
.reports__right {
  text-align: left;
}
.reports__right__h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 24px;
  width: 571px;
  line-height: 120%;
}
.reports__right__p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(78, 93, 124, 0.5019607843);
  width: 565px;
  line-height: 140%;
}

/* значение третьей колонки в second-section__basic-statistics (товары и прибыль) */
.profit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.profit__left {
  text-align: left;
}
.profit__left__h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 29px;
  width: 566px;
  line-height: 120%;
}
.profit__left__p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(78, 93, 124, 0.5019607843);
  width: 526px;
  line-height: 140%;
}

/* значение четвертой колонки в second-section__basic-statistics (про сокращение расходов) */
.expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 247px;
}
.expenses__left {
  position: relative;
}
.expenses__left__img-big {
  width: 461px;
}
.expenses__left__img-small {
  position: absolute;
  width: 450px;
  left: 170px;
  bottom: 145px;
}
.expenses__right {
  text-align: left;
}
.expenses__right__h3 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 30px;
  width: 566px;
  line-height: 120%;
}
.expenses__right__p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(78, 93, 124, 0.5019607843);
  width: 566px;
  line-height: 140%;
}

/* разделительная линия между колонками в basic-statistics */
.basic-statistics__hr {
  margin: 0px;
  margin-bottom: 80px;
  color: rgba(78, 93, 124, 0.5019607843);
}

/* общие значения для третьей секции */ 
.third-section {
  background-color: #357EFE;
}
.third-section__img {
  margin-bottom: 64px;
}

/* значения для верхнего third-section__time-saving (h3, p, button) */
.time-saving__upper-level {
  padding-top: 120px;
  text-align: center;
}
.time-saving__upper-level__h3 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
.time-saving__upper-level__p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 40px;
}
.time-saving__upper-level__button {
  padding: 12px 32px;
  background-color: #FFFFFF;
  border-radius: 34px;
  border: none;
  margin-bottom: 76px;
}
.time-saving__upper-level__button a {
  text-decoration: none;
  color: #357EFE;
  font-size: 17px;
  font-weight: 800;
  line-height: 140%;
}

/* значения для среднего уровня third-section__time-saving (накладывание фото друг на друга) */
.time-saving__intermediate-level {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.time-saving__intermediate-level__index-0 {
  z-index: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.time-saving__intermediate-level__index-1 {
  position: absolute;
  width: 410px;
  height: 501px;
  z-index: 1;
  left: 300px;
}
.time-saving__intermediate-level__index-2 {
  position: absolute;
  z-index: 2;
  left: 657px;
}
.time-saving__intermediate-level__icon-left-3 {
  position: absolute;
  z-index: 3;
}
.time-saving__intermediate-level__icon-right-3 {
  position: absolute;
  z-index: 3;
  left: 718px;
}

/* значения для third-section__time-saving (flex) */
.comparison-with-excel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparison-with-excel__left-wrapper {
  margin-right: 24px;
}

/* является "родителем" по отношению к excel__li */ 
.excel-and-finio:last-child {
  margin: 0px;
}

/* является "дочерней" по отношению к excel-and-finio */
.excel__li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  text-align: left;
}
.excel__li__img {
  margin-right: 10px;
  height: 20px;
}
.excel__li__p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

/* является "дочерней" по отношению к excel-and-finio */   
.finio__li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  text-align: left;
}
.finio__li__img {
  margin-right: 10px;
  height: 20px;
}
.finio__li__p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

/* Общее значение для четвертой секции */ 
.fourth-section {
  padding-top: 120px;
  margin-bottom: 80px;
}

/* является "родителем" по отношению к advantages-flex__servers servers, advantages-flex__encryption encryption и advantages-flex__data-protection */
.advantages-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
}

/* является "дочерней" по отношению к advantages-flex */
.servers {
  text-align: left;
}
.servers__img {
  margin-bottom: 24px;
}
.servers__h3 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.servers__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

/* является "дочерней" по отношению к advantages-flex */  
.encryption {
  text-align: left;
}
.encryption__img {
  margin-bottom: 24px;
}
.encryption__h3 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 22px;
}
.encryption__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

/* является "дочерней" по отношению к advantages-flex */
.data-protection {
  text-align: left;
}
.data-protection__img {
  margin-bottom: 24px;
}
.data-protection__h3 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.data-protection__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

.fifth-section {
  margin-bottom: 120px;
}

.mobile-version {
  text-align: center;
}
.mobile-version__h3 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
.mobile-version__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 40px;
}

.around-advantages-and-mobile-version__hr {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  width: 1392px;
}

.sixth-section__container {
  background-color: #357EFE;
  border-radius: 16px;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 74px;
}
.customer-support__right-wrapper {
  text-align: left;
}
.customer-support__right-wrapper__h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
.customer-support__right-wrapper__p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 44px;
}
.customer-support__right-wrapper__icons-and-links {
  margin-bottom: 40px;
}
.customer-support__right-wrapper__footer-p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

.icons-and-links__li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.icons-and-links__li:last-child {
  margin: 0px;
}
.icons-and-links__li-img {
  margin-right: 16px;
}
.icons-and-links__li-p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

.tariffs__title {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 40px;
}
.tariffs__title__h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 24px;
}
.tariffs__title__p {
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: rgba(78, 93, 124, 0.5019607843);
}
.tariffs__buttons-blue {
  padding: 12px 63px;
  border-radius: 47px;
  background-color: #357EFE;
  border: none;
}
.tariffs__buttons-blue a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  font-weight: 800;
  line-height: 140%;
}
.tariffs__buttons-white {
  padding: 12px 63px;
  border-radius: 47px;
  background-color: #FFFFFF;
  border: none;
}
.tariffs__buttons-white a {
  color: #357EFE;
  text-decoration: none;
  font-size: 17px;
  font-weight: 800;
  line-height: 140%;
}
.tariffs__buttons-white__h3 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
.tariffs__buttons-white__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}

.subscriptions {
  display: flex;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 80px;
}
.subscriptions__items {
  text-align: left;
}
.subscriptions__items__h3 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 16px;
}
.subscriptions__items__p {
  color: rgba(78, 93, 124, 0.5019607843);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
}
.subscriptions__items__calculation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.subscriptions__items__calculation__p {
  color: #4E5D7C;
  font-size: 17px;
  font-weight: 500;
  line-height: 120%;
}

.subscriptions_white {
  color: #FFFFFF;
}

.subscriptions_white-and-gray {
  color: rgba(255, 255, 255, 0.6);
}

.calculation_background {
  padding: 8px 16px;
  background-color: #FFC736;
  color: #FFFFFF;
  border-radius: 8px;
}

.subscriptions-benefit {
  display: inline-block;
  background-color: #1ABC9C;
  color: #FFFFFF;
  padding: 4px 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
}

.subscriptions_padding_first {
  padding: 93px 40px 48px;
  border: 1px solid gray;
  border-radius: 8px;
}

.subscriptions_padding_second {
  padding: 48px 40px;
  border: 1px solid gray;
  border-radius: 8px;
}

.subscriptions_padding_third {
  padding: 48px 38px 48px 40px;
  background-color: #357EFE;
  border-radius: 8px;
}

.subscriptions_p-32 {
  margin-bottom: 32px;
}

.subscriptions_p-50 {
  margin-bottom: 50px;
}

.calculation_last {
  margin: 0px;
  margin-bottom: 40px;
}

.calculation_margin28px {
  margin-right: 28px;
}

.calculation_margin72px {
  margin-right: 72px;
}

.calculation_margin20px {
  margin-right: 20px;
}

.calculation_margin27px {
  margin-right: 27px;
}

.calculation_margin55px {
  margin-right: 55px;
}

.calculation_margin19px {
  margin-right: 19px;
}

.calculation_margin40px {
  margin-right: 40px;
}

.calculation_margin67px {
  margin-right: 67px;
}

.calculation_margin32px {
  margin-right: 32px;
}

.calculation__h3 {
  color: rgba(78, 93, 124, 0.0784313725);
  width: 289px;
  margin: 0px;
  margin-bottom: 16px;
}

.calculation__h3__for-calculation_background {
  color: rgba(78, 93, 124, 0.0784313725);
  width: 289px;
  margin: 0px;
  margin-bottom: 8px;
}

.eighth-section {
  margin-bottom: 80px;
}
.eighth-section__container {
  overflow: hidden;
}

.reviews__top-h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 40px;
}
.reviews-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-flex__left-wrapper {
  padding: 120px 0px 113px 104px;
  width: 1159px;
}
.reviews-left {
  text-align: left;
  background-color: #357EFE;
  border-radius: 8px;
  overflow: hidden;
}
.reviews-left__h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 64px;
}
.reviews-left__p {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 700;
  line-height: 140%;
}
.reviews-right {
  position: relative;
}
.reviews-right__img {
  position: absolute;
  right: 0px;
  top: -231px;
  border-top-right-radius: 8px;
  width: 580px;
  z-index: 1;
}
.reviews-right__right-arrow {
  position: absolute;
  right: 85px;
  left: -85px;
  top: -43.25px;
  bottom: 2.25px;
  z-index: 2;
}
.reviews-right__left-arrow {
  position: absolute;
  right: 1001px;
  left: -1186px;
  bottom: -66px;
}

.footer {
  background-color: #1A1D25;
  min-height: 340px;
  padding-top: 80px;
  padding-bottom: 24px;
}
.footer__hr {
  border: 1px solid rgba(255, 255, 255, 0.0784313725);
  margin: 0px;
  margin-bottom: 38px;
}
.footer__flex-top {
  margin-bottom: 38px;
}

.flex-top {
  display: flex;
  justify-content: space-between;
}
.flex-top__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}
.flex-top__item__img {
  margin-bottom: 16px;
}
.flex-top_white {
  color: rgba(255, 255, 255, 0.7019607843);
}

.all-rights-reserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-rights-reserved__left {
  text-align: left;
}
.all-rights-reserved__left__p {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7019607843);
}
.all-rights-reserved__icons-flex {
  display: flex;
  align-items: center;
  gap: 24px;
}/*# sourceMappingURL=style.css.map */