.header {
    height: 560px;
    padding: 40px 149px;
}
.header_primy {
    background-color: #1E1F29;
    background-size: cover;
}

.header_nav__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header_nav__navig ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.header_nav__navig a {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
    font-size: 18px;
    line-height: 21px;
    padding: 7px 15px;
    border-radius: 8px;
}
.header_nav__navig a:hover {
    border: 1px solid rgba(77, 80, 100, 1);
    border-radius: 8px;
}


.header_nav__button form {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header_nav__button input {
    font-size: 18px;
    line-height: 21px;
    background: none;
    border: none;
    color: #FAFAFA;
}

.kusr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kusr__div1 {
    width: 544px;
    height: 194px;
    text-align: left;
    margin-right: 216px;
}
.kusr__div1 h1 {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 40px;
    color: #FAFAFA;
}
.kusr__div1__gradient {
    background-image: linear-gradient(to right top, #d77be5, #d376e5, #ce72e5, #ca6de5, #c569e5, #bd63e3, #b45de1, #ab57df, #9c4fda, #8d47d5, #7d3fd1, #6c38cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.kusr__div1 ul {
    list-style: none;
    display: flex;
    gap: 32px;
    max-width: 360px;
}
.kusr__div1 a {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    padding: 16px 32px;
    border: 1px solid rgba(77, 80, 100, 1);
    color: #FAFAFA;
    border-radius: 10px;
}
.kusr__div1 a:hover {
    background-color: rgba(108, 56, 204, 1);
}












